<html>
    <head>
    <meta charset="UTF-8">
    <title>Login</title>
    </head>
 <body>
 <div id="container">
 
 <form action="/Projet48h/veryfLogin" method="POST">
 <h1>Login</h1>
 
 <label><b>Enter your account Email</b></label>
 <br>
 <input type="text" placeholder="Enter E-mail" id="userEmail" name="userEmail" required>
 <br>
 <br>
 <label><b>Enter your password</b></label>
 <br>
 <input type="password" placeholder="Enter Password" id="userPassword" name="userPassword" required>
 <br>
 <br>
 <input type="submit" id='submit' value='LOGIN' >
 </form>
 </div>
 <p>Don't have an account ? <a href="register">Register</a></p>
 </body>
</html>